/* General */
body {
   font-family: Arial, sans-serif;
   background-color: #e8f5e9;
   margin: 0;
   color: #333;
}


/* Navigation Bar */
.nav {
   background-color: #006847;
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.logo h1 {
   color: white;
   margin: 0;
}


ul {
   list-style: none;
   margin: 0;
   padding: 0;
}


ul li {
   display: inline;
}


ul li a {
   color: white;
   text-decoration: none;
   padding: 30px 15px;
}


ul li a:hover {
   text-decoration: underline;
}


/* Hero Section */
.hero {
   background-color: #2e8b57;
   color: white;
   text-align: center;
   padding: 60px 20px;
}


.hero h1 {
   font-size: 45px;
}


.hero p {
   font-size: 30px;
}


.hero a {
   display: inline-block;
   background-color: white;
   color: #006847;
   padding: 40  px 30px;
   text-decoration: none;
   border-radius: 5px;
   font-weight: bold;
}


/* Main Containers */
.container,
.activities,
.tracker-container {
   display: flex;
   justify-content: center;
   gap: 30px;
   flex-wrap: wrap;
   padding: 30px;
}


/* Boxes and Cards */
.box1,
.box2,
.card,
.center,
.center,
.center,
.involved {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   width: 350px;
   box-shadow: 2px 2px 8px lightgrey;
}


/* Images */
img {
   width: 20%;
   border-radius: 4px;
}


/* Headings */
h1 {
   font-size: 45px;
}


h2 {
   color: #006847;
}


h3 {
   color: #2e8b57;
}


/* Paragraphs */
p {
   font-size: 21px;
   line-height: 1.5;
}


/* Statistics */
.stats {
   display: flex;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap;
   text-align: center;
}


.stats div {
   background: white;
   padding: 15px;
   border-radius: 10px;
   width: 150px;
   box-shadow: 4px 3px 10px lightgrey;
}


/* Horizontal Line */
hr {
   border: 1px solid #cfcfcf;
}


/* Footer */
footer {
   background-color: #006847;
   color: white;
   text-align: center;
   padding: 20px;
   margin-top: 30px;
}



